body{
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-align: center;
    background-image:url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow:hidden;
}

a{
    display: inline-flex;
    color: #808080;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 1s;
    align-items: center;
    text-align: center;
}

a:hover{
    color: #ff0000;
    text-decoration: underline;
}

a:visited{
    color: #880000;
}

#game{
    display: inline-flex;
    align-items: center;
}

canvas{
    outline: 1px solid #333;
}

#scores{
    color: #ffffff;
    font-size : 90px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 5%;
    width: 100%;
}

.score{
    color: #63f8ff
}

.name{
    font-size: 3vw;
}

#scores >* {
    margin: 25px;
}